:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --white-color: rgb(224, 224, 224);
  --red-color: rgb(181, 1, 1);
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/* Header */

header {
  background-color:var(--red-color);
  color: var(--white-color);
  padding: 10px 40px;
  display: flex;
  /* display: grid;
  grid-template-columns: 10fr 1fr 1fr 1fr; */
  gap: 48px;
  align-items: center;
  /* justify-items: center; */
}

header #logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

header #logo img {
  width: 60px;
  height: 60px;
  filter: invert(0.1);  /* soften the white */
  margin-right: 24px;
}

header #next-due {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  border: 3px solid var(--white-color);
  border-radius: 30px;
  padding: 2px 8px 2px 6px;
}

header #next-due #clock {
  width: 50px;
  height: 50px;
  filter: invert(0.9); /* soften the white */
  flex: none;
}

header #next-due span {
  font-size: 24px;
  text-wrap: nowrap;
  user-select: none;
}

header .add-btn {
  font-size: 60px;
  display: grid;
  place-items: center;
  padding-bottom: 10px;
  user-select: none;
  cursor: pointer;
}

header #profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}


/* Content */

#content {
  flex: 1 0 auto;
}


/* Sidebar */

.sidebar {
  height: 100%;
  width: 20%;
  min-width: min-content;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  padding: 36px;
  gap: 40px;
}

.sidebar .task-explorer {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sidebar .task-explorer .filter,
.sidebar .project-explorer .project {
  transition: 0.3s;
  cursor: pointer;
}

.sidebar .task-explorer .filter:hover,
.sidebar .project-explorer .project:hover {
  transform: translate(12px);
}

.sidebar .project-explorer {
  flex-grow: 1;
}

.sidebar .project-explorer .title {
  display: flex;
  align-items: center;
  gap: 24px;
}

.sidebar .project-explorer .title h3 {
  margin: 0;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.sidebar .project-explorer .add-btn {
  font-size: 2.2rem;
  padding-bottom: 0.3rem;
  cursor: pointer;
  user-select: none;
}

.sidebar .project-explorer .add-btn:hover {
  transform: scale(1.2);
}

.sidebar .project-explorer .projects {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 18px;
  padding-left: 24px;
  font-size: 1.5rem;
}

/* Footer */

footer {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: inherit;
  height: 40px;
}

/* Copyright with github */
footer div {
  display: flex;
  align-items: center;
}

#github-logo {
  height: auto;
  width: 20px;
  margin-left: 6px;
}

#github-logo:hover {
  transform: scale(1.1);
}

