:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --white-color: rgb(224, 224, 224);
  --red-color: rgb(181, 1, 1);
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/* Header */

header {
  background-color:var(--red-color);
  color: var(--white-color);
  padding: 10px 40px;
  display: flex;
  /* display: grid;
  grid-template-columns: 10fr 1fr 1fr 1fr; */
  gap: 48px;
  align-items: center;
  /* justify-items: center; */
}

header #logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

header #logo img {
  width: 60px;
  height: 60px;
  filter: invert(0.1);  /* soften the white */
  margin-right: 24px;
}

header #next-due {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  border: 3px solid var(--white-color);
  border-radius: 30px;
  padding: 2px 8px 2px 6px;
}

header #next-due #clock {
  width: 50px;
  height: 50px;
  filter: invert(0.9); /* soften the white */
  flex: none;
}

header #next-due span {
  font-size: 24px;
  text-wrap: nowrap;
  user-select: none;
}

header .add-task-btn {
  font-size: 60px;
  display: grid;
  place-items: center;
  padding-bottom: 10px;
  user-select: none;
  cursor: pointer;
}

header .add-task-btn:hover {
  transform: scale(1.1);
}

header #profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}


/* Content */

#content {
  flex: 1 0 auto;
  display: flex;
}


/* Sidebar */

.sidebar {
  height: 100%;
  width: 20%;
  min-width: min-content;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  padding: 36px;
  gap: 40px;
}

.sidebar .task-explorer {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sidebar .task-explorer .filter,
.sidebar .project-explorer .project {
  transition: 0.3s;
  cursor: pointer;
}

.sidebar .task-explorer .filter:hover,
.sidebar .project-explorer .project:hover {
  transform: translate(12px);
}

.sidebar .project-explorer {
  flex-grow: 1;
}

.sidebar .project-explorer .title {
  display: flex;
  align-items: center;
  gap: 24px;
}

.sidebar .project-explorer .title {
  margin: 0;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.sidebar .project-explorer .projects {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 18px;
  padding-left: 24px;
  font-size: 1.5rem;
}

.sidebar .project-explorer #project-input {
  font-size: 1.5rem;
  border: none;
  border-bottom: 2px solid rgb(166, 166, 166);
  background-color: rgba(241, 0, 0, 0);
  padding: 2px 2px;
}

.sidebar .add-project-btn {
  color: rgb(147, 147, 147);
}

/* Main */

.main {
  padding: 50px 60px;
}

.main h2 {
  margin: 0;
  font-size: 3rem;
  margin-bottom: 36px;
}

.main .project-title {
  display: flex;
  gap: 18px;
  align-items: end;
}

.main .project-title img {
  margin-bottom: 44px;
  cursor: pointer;
}

.main .project-title img:hover {
  transform: scale(1.2);
}

.main .time-frame {
  margin-bottom: 20px;
}

.main .time-frame > span,
.main .project-container > span {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  border-bottom: 2px solid rgb(205, 205, 205);
  padding-bottom: 8px;
}

.main .task-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top : 20px;
  margin-bottom: 40px;
}

.main .task {
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 12px minmax(200px, 4fr) 1fr 1fr;
  align-items: center;
  gap: 24px;
}

.main .task .task-due-date {
  flex-grow: 1;
  text-align: right;
  text-wrap: nowrap;
}

.main .task .radio,
.task-form .radio {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  padding: 2px;
  background-clip: content-box;
  transition: 0.2s;
}

.main .task[data-importance="0"] .radio,
.task-form .radio[data-importance="0"] {
  border-color: green;
}

.main .task[data-importance="1"] .radio,
.task-form .radio[data-importance="1"] {
  border-color: orange;
}

.main .task[data-importance="2"] .radio,
.task-form .radio[data-importance="2"] {
  border-color: red;
}

.main .task[data-completed="false"] .radio:hover,
.task-form .radio:not(:checked):hover {
  background-color: rgb(182, 182, 182);
}

.main .task[data-completed="true"][data-importance="0"] .radio,
.task-form .radio[data-importance="0"].checked {
  background-color: green;
}

.main .task[data-completed="true"][data-importance="1"] .radio,
.task-form .radio[data-importance="1"].checked  {
  background-color: orange;
}

.main .task[data-completed="true"][data-importance="2"] .radio,
.task-form .radio[data-importance="2"].checked  {
  background-color: red;
}

.main .task .task-btns {
  position: relative;
  display: flex;
  gap: 10px;
}

.main .task .task-btns img {
  cursor: pointer;
  width: 1.2rem;
}

.main .task .task-btns img:hover {
  transform: scale(1.2);
}

.main .task-btns .notes-popup {
  position: absolute;
  left: 100%;
  bottom: 100%;
  border: 2px solid black;
  width: 400px;
  background-color: white;
}

/* Forms */

.task-form {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: rgb(237, 233, 224);
  border-radius: 10px;
  padding: 36px;
}

.task-form .close-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
}

.task-form .task-container {
  display: flex;
}

.task-form .importance-container {
  display: flex;
}

.task-form .radio-group {
  display: flex;
}

.task-form .add-to-project-btn {
  position: relative;
  border: 1px solid black;
  cursor: pointer;
}

.task-form .add-to-project-btn .dropdown-arrow {
  font-size: 0.8rem;
}

.task-form .project-select-dropdown {
  position: absolute;
  width: inherit;
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  text-wrap: nowrap;
}

/* Footer */

footer {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: inherit;
  height: 40px;
}

/* Copyright with github */
footer div {
  display: flex;
  align-items: center;
}

#github-logo {
  height: auto;
  width: 20px;
  margin-left: 6px;
}

#github-logo:hover {
  transform: scale(1.1);
}

/* Properties we don't want overwritten */

.hidden {
  display: none;
}

.disabled {
  pointer-events: none; 
  opacity: 0.6;
}